<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms name="Cliente" loginUrl="/Login.aspx"/>
    </authentication>
    <pages enableEventValidation="false" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <!--<globalization culture="pt-BR" uiCulture="pt-BR"/>-->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <!--<trust level="Full" />-->
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
  <appSettings>
    <!--<add key="sConn" value="PROVIDER=Microsoft.Jet.OLEDB.4.0;DATA SOURCE=E:\vhosts\peluciasedelicias.com.br\httpdocs\Dados\bd.mdb;Persist Security Info=False;" />
      <add key="Imagens" value="E:\vhosts\peluciasedelicias.com.br\httpdocs\Imagens\" />-->
    <add key="sConn" value="Server=oxkon.com.br;Database=oxkon;Uid=myoxkon;Pwd=oxkon2011;Connect Timeout=30;"/>
    <add key="Imagens" value="E:\vhosts\cestasdelicias.com.br\httpdocs\Imagens\"/>
    <!--<add key="Imagens" value="C:\Sites\peluciasedelicias.com.br\Imagens\" />-->
    <!--
  <add key="sConn" value="PROVIDER=Microsoft.Jet.OLEDB.4.0;DATA SOURCE=C:\Users\rodolfo\Documents\Zou\Sites\cestasdelicias.com.br\Dados\bd.mdb;" />
    <add key="Imagens" value="C:\Users\rodolfo\Documents\Zou\Sites\cestasdelicias.com.br\Imagens\" />
-->
    <add key="br.com.correios.ws.CalcPrecoPrazo" value="http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx"/>
    <add key="br.com.byjg.www.CEPService" value="http://www.byjg.com.br/site/webservice.php/ws/cep"/>
  </appSettings>
  <location path="Cliente">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>